
  html * {
    margin: 0;
    padding: 0;
  }

  body {

    img {
      width: 100%;
      height: auto;
      display: block;
    }
    h1,
    h2 {
      font-weight: normal;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }
    a{
      text-decoration: none;
    }
  }

  #app {
    font-family: Helvetica, Arial, sans-serif, 'Avenir';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $ink;
    background-color: $snow;
    font-size: 14px;
  }